/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

.quicksand-primary {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
}

/* Shared Styles */
.display-flex {
  display: flex;
}

.btn-primary {
  font-size: 20px;
  font-weight: 600;
  height: 50px;
  padding: 10px 50px;
  border-radius: 12px;
  background-color: rgba(17, 17, 17, 1);
  color: rgba(255, 255, 255, 1);
  border: none;
}

.text-color-1 {
  color: rgba(254, 163, 1, 1);
}

.text-color-2 {
  color: rgba(1, 172, 253, 1);
}

.text-color-3 {
  color: rgba(5, 212, 223, 1);
}

.text-color-4 {
  color: rgba(93, 88, 239, 1);
}

/* Navbar Styles */
.logo {
  align-items: center;
  gap: 10px;
}

.logo h4 {
  font-size: 2rem;
  font-weight: 700;
  color: rgba(17, 17, 17, 1);
}

.navbar {
  align-items: center;
  justify-content: space-between;
  margin: 10px 140px 18px;
}

.nav-item {
  list-style: none;
  margin-right: 32px;
  font-size: 1.25rem;
  font-weight: 700;
}

.nav-link {
  text-decoration: none;
}

.nav-btn {
  font-size: 1.25rem;
  font-weight: 600;
  height: 50px;
  padding: 10px 60px;
  border-radius: 12px;
  background-color: rgba(254, 163, 1, 1);
  color: rgba(255, 255, 255, 1);
  border: none;
}

/* Banner Section */

.banner {
  /* max-width: 1150px; */
  display: flex;
  align-items: center;
  margin: 0px 140px 60px;
}

.banner-content {
  width: 640px;
}

.heading {
  font-size: 3.5rem;
  font-weight: 700;
  margin: 24px 0px;
}

.description {
  font-size: 1.25rem;
  font-weight: 400;
  text-align: left;
  margin: 24px 0px;
}

/* Curriculum Section */
.curriculum-container {
  background-image: url(/assets/bg.png);
  max-width: 1440px;
  margin: 0 auto;
}

.section-title {
  text-align: center;
  font-size: 2.875rem;
  font-weight: 700;
}

/* Footer Section */
footer {
  background-color: rgba(1, 172, 253, 1);
  max-width: 1440px;
  margin: 0 auto;
  padding: 100px 120px;
  color: rgba(255, 255, 255, 1);
}

.footer p {
  font-size: 1.25rem;
  font-weight: 400;
  text-align: left;
}

.footer-logo {
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.footer-logo h3 {
  font-size: 2.625rem;
  font-weight: 700;
}

.footer-container {
  justify-content: space-evenly;
  align-items: center;
  gap: 160px;
}

.footer-nav h5 {
  font-size: 1.5rem;
  font-weight: 700;
}

.footer-nav-links {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 1.25rem;
}

.footer-nav-item {
  margin-bottom: 10px;
}

.footer-nav-link {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}

.social-media h5 {
  font-size: 1.5rem;
  font-weight: 700;
}

.social-media-icons {
  gap: 10px;
}
